<h1>Delete Listing</h1>
<h3>Are you sure you want to delete your listing? This action is permanent and cant be undone.</h3>
 <%= link_to "Nevermind, take me back to my profile.", listing_path(@listing), method: :get%>

 <%= button_to "Delete Listing", listing_path(@listing), method: :delete, class: "erb-button"%>

