<h1>Update a Listing</h1>


<div>
   <% if @listing.image.attached? %> 
    <%= form_for @listing do |f| %>
           <img src="<%= (url_for(@listing.image))%>" width="500" height="600>
    <% end %>
  <% end %>
</div>

<%= render 'form' %>