/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'Roboto';
    src: url('RobotoCondensed-Regular.ttf');
 }

 @font-face {
    font-family: 'DMSerif';
    src: url('DMSerifDisplay-Regular.ttf');
 }

 @font-face {
    font-family: 'hindr';
    src: url('HindSiliguri-Regular.ttf');
 }
 
 @font-face {
    font-family: 'hindb';
    src: url('HindSiliguri-Bold.ttf');
 }

h1 h2 h3 h4 h5 h6 {
    font-family: 'hindb';
    color:   #6D7AD2;
}


body {
    font-family: 'DMserif';
}

 .nav-bar {
    float: right;
    display: flex;  
list-style: none;
   margin: 0 2px;
   padding: 0;
   display: flex;
   justify-content: space-around;
   color: ivory;

}

.nav-button {
    color: #F9F6F6 ;
    background-color: #043D30;
    border: none;
    font-family: 'Roboto';
    
}


.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: red;
    background-color: plum;
    font-size: xx-large;
    }

header {

    text-align: center;
    color: 043D30;
    font-size: 30px;
  }

.header-1 {
    padding: 30px;
    text-align: center;
    background: #043D30;
    color: #F9F6F6;
    font-size: 30px;
  }

  a:link {
color: #FA733E;

  }

  a:visited {      
      color: #6D7AD2

}

a:hover
{
    color: #FBD431;

}
a:active
{

}


/* .ul-1 {
    text-align: center;
      }


.ul-1 > li {
    text-align: center;

  } */



  .rules {
    text-align: center;

  }

  .header-2{

}

.likes-followers {
    background: blue;
}

body {
  background-color: #F9F6F6;
  color: #043D30;
}

