/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'Roboto';
    src: url('RobotoCondensed-Regular.ttf');
 }

 @font-face {
    font-family: 'DMSerif';
    src: url('DMSerifDisplay-Regular.ttf');
 }

 @font-face {
    font-family: 'hindr';
    src: url('HindSiliguri-Regular.ttf');
 }
 
 @font-face {
    font-family: 'hindb';
    src: url('HindSiliguri-Bold.ttf');
 }


body {
    font-family: 'DMserif';
}

 .nav-bar {
    float: right;
    display: flex;  
list-style: none;
   margin: 0 2px;
   padding: 0;
   display: flex;
   justify-content: space-around;
   color: ivory;

}

.nav-button {
    color: #F9F6F6 ;
    background-color: #043D30;
    border: none;
    font-family: 'Roboto';
    font-size: 14px;
    
}


button {
    color: #F9F6F6 ;
    background-color: #043D30;
    border: none;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    }
.center
{
    text-align: center;
}
.erb-button {
        color: #F9F6F6 ;
        background-color: #043D30;
        border: none;
        font-family: 'Roboto';
        font-size: 14px;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        }

header {

    text-align: center;
    color: 043D30;
    font-size: 30px;
  }

.header-1 {
    padding: 30px;
    text-align: center;
    background: #043D30;
    color: #F9F6F6;
    font-size: 30px;
  }

  a:link {
color: #23C797;

  }

  a:visited {      
      color: #7C8B95

}

a:hover
{
    color: #99F2C2;

}
a:active
{
    color: #7C8B95
    
}

.rules-list {
    text-align: center;
    font-family: 'Roboto'
}
.ul-1 {
    display: inline-block;
    text-align: left;
    color: #23C797;
    font-size: 18px;
    font-family: 'Roboto';
      }




.c-show {
    text-align: center;


}

.cat-table
{
    margin-left: auto;
    margin-right: auto;
} 



table {

    margin-left: auto;
  margin-right: auto;
    width: 100%;
}

th {
    text-align: left;
}


  .rules {
    text-align: center;
    color: #043D30;
    font-family: 'Roboto';
    font-size: 20px;
    
  }

  .header-2 > h4 {
      color: #043D30;

}

.likes-followers {

}

body {
  background-color: #F9F6F6;
  color: #043D30;
}

