.home-header {
    padding-top: 5%;
}

.home-main {
position: relative;
padding-top: 5%;
}

.ul {
    display: inline-block;
    text-align: left;
    color: #23C797;
    font-size: 18px;
    font-family: 'Roboto';
    display: table;
    margin: 0 auto;
}

div.home-header h4 {
    font-size: 40px;
    padding-top: 0%;
}

.rules {
    text-align: center;
    color: #043D30;
    font-family: 'Roboto';
    font-size: 20px;
    }