
<header class="header-2">
<h1>Buy Nothing Chicago</h1>
<h3>One person's trash...</h3>
</header>

<p> Welcome to Buy Nothing Chicago! Below you will find rules to particpate in our community. We're glad you're here!</p>
<ul class = "ul-1">
<li>a rule!</li>
<li>another rule!</li>
<li>another rule!</li>
<li>another rule!</li>
<li>another rule!</li>

</ul>